<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <form action="/uploadexcel" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">upload</button> 
        </form>
  </body>
</html>
